$PageColor: rgb(51, 162, 203);
$BGColor: rgb(31, 28, 28);


@mixin alignCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes MoveLeftRight {
    from{
        transform: translateX(-20px);
    }
    to{
        transform: translateX(-5px);
    }
}


.BuilderFinalPage{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-family: 'MuseoModerno', cursive;
    @include alignCenter();
    justify-content: space-around;

    .Header{
        position: relative;
        width: 100%;
        height: 10%;
        @include alignCenter();
        font-size: clamp(30px, 3vw, 50px);
        text-shadow: 0px 0px 10px $PageColor;
    }

    .Steps{
        position: relative;
        width: 100%;
        height: 80%;
        @include alignCenter();
        justify-content: space-between;

        .StepsHeader{
            position: relative;
            width: 100%;
            height: 10%;
            display: grid;
            @include alignCenter();
            flex-direction: row;

            h2{
                @include alignCenter();
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;
                height: 100%;
                color: black;
                border: 1px solid $BGColor;
                font-size: clamp(17px, 2vw,50px);
                overflow: hidden;

                p{
                    width: clamp(35px, 3vw, 80px);
                    height: clamp(35px, 3vw, 80px);
                    @include alignCenter();
                    border-radius: 50%;
                    border: clamp(2px, .5vw, 4px) solid $PageColor;
                    font-size: clamp(17px, 2vw,50px);
                }
            }

            .toggled{
                @extend h2;
                background-color: white;
                color: black;
                transition: all 500ms;
                width: 70%;

            }

            .notToggled{
                @extend h2;
                background-color: black;
                color: $PageColor;
                transition: all 500ms;
                width: 15%;
                font-size: 1px;
                cursor: pointer;
                
                p{
                    position: absolute;
                }
            }

        }

        .StepsBody{
            position: relative;
            width: 100%;
            height: 80%;

            .Step1Style, .Step2Style, .Step3Style{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                // background-color: lightgreen;
            }

            .Step3Style{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;

                .LeftBoxS3Final{
                    position: relative;
                    // background-color: lightskyblue;
                    .ResumeBox{
                        width: 100%;
                        height: 100%;
                        @include alignCenter();
                        justify-content: space-around;

                        .ChosenBox{
                            width: 80%;
                            height: 8%;
                            @include alignCenter();
                            justify-content: space-around;
                            flex-direction: row;
                            background-color: black;
                            border-radius: 2em;

                            p{
                                font-size: clamp(11px, 1.3vw, 100px);
                            }

                            #TheData{
                                color: $PageColor;
                            }
                        }
                    }
                }
                .RightBoxS3Final{
                    position: relative;
                    background-color: transparent;   
                    @include alignCenter();
                    flex-direction: column;
                    justify-content: space-evenly;
                    overflow: hidden;

                    .Price{
                        width: 100%;
                        height: 45%;
                        // background-color: lightcoral;
                        @include alignCenter();
                        h1{
                            font-size: clamp(60px ,6vw ,200px);
                            color: $PageColor;
                        }
                        h2{
                            font-size: clamp(25px ,2vw ,150px);
                        }
                        h3{
                            font-size: clamp(20px ,1vw ,130px);
                            text-decoration: underline $PageColor;
                            text-align: center;
                            margin: 0px 2em;
                        }
                        h4{
                            font-size: clamp(15px ,1vw ,130px);
                            text-align: center;
                        }

                    }

                    .TandCCheckBox{
                        width: 100%;
                        @include alignCenter();
                        flex-direction: row;
                        a{
                            font-size: clamp(15px, 1.5vw, 30px);
                            text-align: center;
                            padding: 1em;
                            color: $PageColor;
                            transition: color 500ms, text-decoration 500ms;
                            cursor: pointer;

                            &:hover{
                                color: rgb(77, 228, 127);
                                text-decoration: underline rgb(77, 228, 127);
                                transition: color 500ms, text-decoration 500ms;
                            }
                        }

                        input{
                            width: 2em;
                            height: 2em;
                        }
                    }

                    .ButtonsBox{
                        position: relative;
                        width: 80%;
                        height: 25%;                        
                        @include alignCenter();
                        flex-direction: row;
                        justify-content: space-around;
                        // background-color: black;

                        button{
                            position: relative;
                            background-color: black;
                            outline: none;
                            color: transparent;
                            padding: clamp(10px ,1.5vw ,15px) clamp(20px ,1.5vw ,40px);
                            border: none;
                            border-radius: 1em;
                            font-weight: bolder;
                            font-family: 'MuseoModerno', cursive;
                            font-size: clamp(20px ,1vw ,40px);
                            @include alignCenter();
                            border-style: none;
                            cursor: pointer;

                            svg{
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                fill: $PageColor;
                                opacity: 0;
                                transition: filter 500ms, opacity 500ms;
                            }
                            
                            p::before{
                                position: absolute;
                                content: "";
                                top:0%;
                                right:0%;
                                overflow: hidden;
                                background-color: $PageColor;
                                border-top-right-radius: 8px;
                                border-bottom-right-radius: 8px;


                                width: 50%;
                                height: 100%;
                                @include alignCenter(); 
                                
                                // background-color: $white;
                                
                                // transform: translateX(100%);
                                transition: width 1s;
                            }

                            p::after{
                                position: absolute;
                                content: "";
                                top:0%;
                                left:0%;
                                overflow: hidden;
                                background-color: $PageColor;
                                border-top-left-radius: 8px;
                                border-bottom-left-radius: 8px;


                                width: 50%;
                                height: 100%;
                                @include alignCenter(); 
                                
                                // background-color: $BackgroundColor;
                                
                                // transform: translateX(-100%);
                                transition: width 1s;
                            }

                            .liquid::before{
                                @include alignCenter();
                                content: "Tarjeta";
                                position: absolute;
                                top:0%;
                                left: 0%;
                                width: 100%;
                                height: 100%;
                                // background-color: blue;

                                color: black;
                                transition: color 1s;
                            }

                            &:hover{

                                p::before{
                                    // transform: translateX(50%);
                                    width: 0%;
                                    transition: width 1s;

                                }

                                p::after{
                                    // transform: translateX(-50%);
                                    width: 0%;
                                    transition: width 1s;
                                }
                                
                                .liquid:before{
                                    color: transparent;
                                    transition: color 1s;
                                }

                                svg{
                                    opacity: 1;
                                    filter: drop-shadow(0px 0px 1px $PageColor);
                                    transition: opacity 500ms, filter 500ms;
                                }
                            }
                        }

                        #b2p{
                            .liquid::before{
                                content: "PayPal";
                            }
                        }
            
                    }

                    .ImportantP{
                        // height: 20%;
                        font-size: clamp( 10px, 1.5vw, 30px);
                        z-index: 0;
                        text-align: center;
                    }

                    .PaymentBox{
                        position: absolute;
                        z-index: 1;
                        left: 0;
                        top: 0;
                        width: 90%;
                        height: 0%;
                        left: auto;
                        right: auto;
                        opacity: 0;
                        visibility: hidden;
                        @include alignCenter();
                        overflow: hidden;
                        transform: rotateY(180deg);

                        #BgTransSmortLogo{
                            position: absolute;
                            width: 100%;
                            height: auto;
                            left: 0px;
                            top: 0px;
                            opacity: .05;
                            z-index: -1;
                        }

                        .CardBox{

                            width: 100%;
                            height: 50%;
                            @include alignCenter();
                            position: relative;
 
                            .CardLine{
                                width: 80%;
                                height: 100%;
                                position: relative;

                                form{
                                    width: 100%;
                                    height: 100%;
                                    @include alignCenter();
                                    flex-direction: column;
                                    justify-content: space-around;
                                    position: relative;

                                    .PayLine{
                                        position: relative;
                                        width: 100%;
                                        height: 30px;
                                        border-bottom: 1px solid $PageColor;
                                    }

                                    .PayButton{
                                        position: relative;
                                        background-color: $PageColor;
                                        // font-size: 25px;
                                        border-radius: 1em;
                                        font-family: 'MuseoModerno', cursive;
                                        transition: all 500ms;
                                        cursor: pointer;
                                        outline: none;
                                        @include alignCenter();
                                        flex-direction: row;

                                        svg{
                                            width: 100%;
                                            height: 100%;
                                            fill: black;
                                            transition: all 500ms;
                                        }

                                        &:hover{
                                            background-color: black;
                                            color: $PageColor;
                                            transition: all 500ms;
                                            
                                            svg{
                                                fill: $PageColor;
                                                transition: all 500ms;
                                            }
                                        }
                                    }
                                }
                            }


                        }

                        .FlipButton{
                            width: 40px;
                            height: 40px;
                            position: absolute;
                            left: 10px;
                            top: 10px;
                            border-radius: 50%;
                            border: 2px solid white;
                            @include alignCenter();
                            cursor: pointer;
                            transition: all 500ms;

                            svg{
                                width: 60%;
                                height: 60%;
                                fill: $PageColor;
                                transition: all 500ms;
                            }

                            &:hover{
                                transition: all 500ms;
                                background-color: $PageColor;
                                svg{
                                    fill: black;
                                    transition: all 500ms;
                                }
                            }
                        }

                    }
                }
            }

            .Step2Style{
                display: grid;
                grid-template-columns: 45% 1fr;
                grid-template-rows: 1fr;


                .LeftBoxS2Final{
                    @include alignCenter();
                    flex-direction: column;
                    justify-content: space-around;
                    // background-color: lightyellow;

                    .Explanation{
                        width: 90%;
                        height: 35%;
                        // background-color: lightcoral;

                        p{
                            padding: 20px;
                            text-align: justify;
                            font-size: clamp(10px, 1.1vw, 100px);
                        }

                        h2{
                            text-align: center;
                            color: $PageColor;
                            padding: 0px 20px;
                            font-size: clamp(25px, 2vw, 60px);
                        }

                    }

                    .NumberOfPages{
                        width: 100%;
                        height: 55%;
                        @include alignCenter();
                        justify-content: space-around;

                        .NotPressed{
                            background-color: black;
                            color: $PageColor;
                            padding: clamp(10px, 1.5vw, 40px) clamp(20px, 3vw, 60px);
                            font-size: clamp(15px, 1.3vw, 100px);
                            border-radius: 1em;
                            outline: none;
                            @include alignCenter();
                            flex-direction: row;
                            width: 80%;
                            font-family: 'MuseoModerno', cursive;
                            justify-content: space-around;
                            cursor: pointer;
                            border: none;
                            transition: border 100ms;

                            svg{
                                fill: $PageColor;
                                // transition: fill 500ms;
                            }
                        }

                        .Pressed{
                            @extend .NotPressed;
                            border: 2px solid white;

                            svg{
                                animation: MoveLeftRight 1s linear infinite alternate;
                            }
                        }

                        .NextButton{
                            width: 100px;
                            cursor: pointer;
                            outline: none;
                            height: 60px;
                            position: relative;
                            padding: 15px 25px;
                            border-radius: 1em;
                            font-size: 25px;
                            background-color: $PageColor;
                            @include alignCenter();
                            transition: background-color 500ms;
                            
                            svg{
                                width: auto;
                                height: 100%;
                                transition: fill 500ms;
                            }

                            &:hover{
                                background-color: black;
                                transition: background-color 500ms;
                                
                                svg{
                                    fill: $PageColor;
                                    transition: fill 500ms;
                                }
                            }
                        }
                    }

                }
                .RightBoxS2Final{
                    position: relative;
                    // background-color: lightyellow;

                    .Layout{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        overflow-x: scroll;
                        @include alignCenter();
                        flex-direction: row;
                        justify-content: space-evenly;

                        .InnerImageBox{

                            position: relative;
                            width: 50%;
                            // flex: 1 1;
                            height: 100%;
                            // background-color: lightcoral;
                            @include alignCenter();
                            align-items: center;
                            // z-index: 0;
    


                            img{
                                width: 220px;
                                height: auto;
                                margin: -2px;
                                // margin-right: clamp(0px, 13vw, 200px);
                            }

                            .AlignVertically {

                                width: 100%;
                                height: 25%;
                                // transition: all 500ms;
                            }
                            
                            .AlignHorizontally {
                                
                                height: 100%;
                                width: 20%;
                                // transition: all 500ms;
                            }                            
    
                        }
    
                        .InnerTagsBox{
                            position: relative;
                            // background-color: lightgreen;
                            // z-index: 1;
                            // flex: 1 1;
                            width: 35%;
                            height: 100%;
                            // right: 0;
                            // top: 0;
                            @include alignCenter();
                            justify-content: space-around;
                            transform-origin: bottom left;

                            .Tag{
                                @include alignCenter();

                                p{
                                    color: $PageColor;
                                    text-align: center;
                                    width: 100px;
                                    font-size: clamp(20px, 1.5vw, 40px);
                                }
                            }

                            .AlignVertically {

                                width: 100%;
                                height: 25%;
                                flex-direction: row;
                                transition: all 500ms;
                                justify-content: space-evenly;

                                img{
                                    height: 90%;
                                    width: 20%;
                                }

                                p{
                                    width: 100%;
                                }
                            }
                            
                            .AlignHorizontally {
                                
                                height: 100%;
                                width: 30%;
                                flex-direction: column;
                                transition: all 500ms;
                                justify-content: space-evenly;

                                img{
                                    width: 90%;
                                    height: 40%;
                                }

                                p{
                                    width: 100%;
                                }
                            }
                        }

                    }


                }
            }

            .Step1Style{
                // @include alignCenter();
                justify-content: space-around;
                position: relative;

                p,label,textarea,input, select{
                    font-size: clamp(15px, 1.3vw, 100px);
                    font-family: 'MuseoModerno', cursive;
                }

                p,.InputBox1, .InputBox2, .InputBox3{
                    margin: 40px auto;
                }

                p{
                    @include alignCenter();
                    height: 100px;
                    width: 90%;
                    margin-top: 0px;
                }


                label{
                    color: $PageColor;
                    text-align: center;
                    width: 20%;
                    @include alignCenter();
                }


                input{
                    position: relative;
                    background-color: transparent;
                    border: 2px solid transparent;
                    border-bottom: 4px solid black;
                    outline: none;
                    color: white;
                    width: 70%;
                    transition: border-bottom 500ms;

                    &:focus + .BottomBox{
                        width: 70%;
                        transition: width 500ms;
                    }

                    &:focus{
                        border-bottom: 4px solid transparent;
                        transition: border-bottom 500ms;
                    }
                    
                }
                
                .BottomBox{

                    position: absolute;
                    bottom: 0px;
                    left: 29.8%;
                    width: 0%;
                    background-color: $PageColor;
                    box-shadow: 0px 0px 5px $PageColor;
                    height: 3px;
                    transition: width 500ms;
                    border-radius: 1em;
                    transition: width 500ms;
                }
        

                .InputBox1{
                    position: relative;
                    width: 90%;
                    height: 500px;
                    @include alignCenter();
                    justify-content: space-around;

                    span{
                        position: relative;
                        @include alignCenter();
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;
                        height: 35px;
                    }

                    // form{
                    //     top: 0;
                    //     left: 0;
                    //     position: absolute;
                    //     width: 100%;
                    //     height: 100%;
                    //     @include alignCenter();
                    //     justify-content: space-around;
                    // }

                }

                .InputBox2{
                    @include alignCenter();
                    justify-content: space-around;
                    align-items: flex-start;
                    width: 90%;
                    height: 400px;

                    label{
                        width: 100%;
                        height: 10%;
                    }

                    input, textarea{
                        width: 100%;
                        height: 80%;
                        background-color: black;
                        color: white;
                    }
                }

                .InputBox3{
                    position: relative;
                    @include alignCenter();
                    justify-content: space-around;
                    width: 90%;
                    height: 600px;

                    #IB3title{
                        width: 100%;
                    }

                    span{
                        position: relative;
                        @include alignCenter();
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;
                        height: 35px;

                        select{
                            width: 70%;
                        }
                    }

                    h2{
                        align-self: flex-start;
                    }

                }

                .FooterBox{
                    @include alignCenter();
                    flex-direction: row;
                    justify-content: space-around;
                    width: 100%;
                    height: 200px;

                    p{
                        margin: 0px;
                        width: 50%;
                        position: relative;
                    }

                    button{
                        width: 150px;
                        cursor: pointer;
                        outline: none;
                        height: 70px;
                        position: relative;
                        padding: 15px 25px;
                        border-radius: 1em;
                        font-size: 25px;
                        background-color: $PageColor;
                        @include alignCenter();
                        transition: background-color 500ms;
                        
                        svg{
                            width: auto;
                            height: 100%;
                            transition: fill 500ms;
                        }

                        &:hover{
                            background-color: black;
                            transition: background-color 500ms;
                            
                            svg{
                                fill: $PageColor;
                                transition: fill 500ms;
                            }
                        }
                    }
                }
            }
        }

    }

}