@import "./SubCStyles/ChooseButtons";
@import "./SubCStyles/ChooseNav";
@import "./SubCStyles/ChooseStyle";
@import "./SubCStyles/ChooseLoader";

:root{
    --ChosenColor1: #000000;
    --ChosenColor2: #ffffff;
    --ChosenColor3: #ffffff;
}


$PageColor: rgb(51, 162, 203);
$BackgroundColor: rgb(57, 55, 55);


@mixin alignCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@keyframes PageFadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes GradientAnim{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 400%;
    }
}

@keyframes moveUpDown{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(40px);
    }
}



.RootPage{

    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    z-index: 1;
    @include alignCenter();
    justify-content: flex-start;
    
    .RootBox{
        
        @include alignCenter();
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: grid;
        grid-template-columns: 40% 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "InsBox BuildBox";
        background: linear-gradient(to bottom left, $PageColor 20%, $BackgroundColor 80%);

        .InstructionsBox{
            grid-area: InsBox;
            position: relative;
            background: transparent;
            width: 100%;
            height: 100%;
            @include alignCenter();
            justify-content: space-around;
            z-index: 0;

            .Header{
                // grid-area: Header;
                // background-color: lightcoral;
                @include alignCenter();
                flex-direction: row;
                width: 100%;
                height: 20%;


                h1{
                    font-family: 'MuseoModerno', cursive;
                    font-size: calc(1.5rem + 1.5vw);
                    text-align: center;
                    color: white;
                    // text-shadow: 2px 2px 2px black;
                    padding: 0px 20px;
                }
            }

            .Middler{
                width: 100%;
                height: 50%;
                @include alignCenter();

                .Circle{
                    height: 20em;
                    width: 20em;
                    background-color: white;
                    opacity: .35;
                    border-radius: 50%;
                    @include alignCenter();

                    h1{
                        font-size: 100px;
                        font-family: 'Press Start 2P', cursive;
                        color: black;
                    }
                }

                svg{
                    width: 5em;
                    height: 50%;
                    position: absolute;
                    right: 1em;
                    opacity: .5;
                    fill: white;
                    animation: moveUpDown 1s linear infinite alternate;
                }
            }

            .Footer{
                // grid-area: Footer;
                @include alignCenter();
                flex-direction: row;
                justify-content: space-around;
                // background-color: lightgreen;
                width: 60%;
                height: 10%;

                .Line{
                    position: absolute;
                    width: 75%;
                    height: 3px;
                    background-color: grey;
                    margin-bottom: 2.8%;
                    z-index: -1;
                }

                .OffStage{

                    position: relative;
                    z-index: 0;
                    width: 10%;
                    height: 80%;
                    @include alignCenter();

                    span{
                        width: 20px;
                        height: 20px;
                        background-color: $BackgroundColor;
                        border-radius: 50%;
                        transform: scale(.7);
                        opacity: .7;
                        transition: background-color 500ms, transform 500ms, opacity 500ms;
                        box-shadow: 0px 0px 5px white;
                    }

                }

                .OnStage{
                    @extend .OffStage;
                    
                    span{
                        transform: scale(1);
                        opacity: 1;
                        background-color: white;
                    }
                }

            }
        }

        .BuilderBox{
            grid-area: BuildBox;
            position: relative;
            background: transparent;
            overflow: hidden;
            width: 100%;
            height: 100%;
            z-index: 1;

            .Display{
                grid-area: Display;
                overflow: auto;
                width: 100%;
                height: 100%;

                .PageStylesSection{
                    width: 100%;
                    height: 100%;
                    margin: 0px auto;
                }

                .Section{
                    margin: 0px auto;
                    width: 85%;
                    height: 100%;
                    overflow: auto;

                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;

                    .ButtonBox{
                        position: relative;
                        border-radius: 20px;
                        background-color: $BackgroundColor;
                        border: 2px solid black;
                        min-height: 200px;
                        min-width: 300px;
                        overflow: hidden;
                        @include alignCenter();

                        // flex-basis: calc(calc(1200px - 100%) * 999);
                        flex-shrink: 1;
                        flex-grow: 1;

                        .Item{
                            position: relative;
                            border-radius: 20px;
                            // background-color: white;
                            border: 4px solid black;
                            width: 90%;
                            height: 70%;
                            overflow: hidden;
                            @include alignCenter();

                        }

                        .Info{

                            background-color: black;
                            width: 100%;
                            height: 20%;
                            @include alignCenter();
                            flex-direction: row;

                            p{
                                font-family: 'MuseoModerno', cursive;
                                color: white;
                                text-align: center;
                            }

                            .ChooseButton{
                                position: relative;
                                padding: 5px 15px;
                                border-radius: 200px;
                                color: white;
                                font-family: 'MuseoModerno', cursive;
                                background-color: $BackgroundColor;
                                transition: background-color 500ms, color 500ms;
                                
                                &:hover{
                                    background-color: white;
                                    color: $BackgroundColor;
                                    transition: background-color 500ms, color 500ms;
                                }
                            }

                        }
                    }

                    .NavBarBox{
                        @extend .ButtonBox;
                        // width: 200px;
                        min-width: 300px;
                        min-height: 450px;
                    }

                    .LoaderBox{
                        @extend .ButtonBox;
                        min-height: 300px;
                    }
                }
            }

            .ColorsBox{

                position: absolute;
                z-index: 15;
                right: 2em;
                bottom: 2em;
                width: 15em;
                height: 7em;
                background: linear-gradient(to left, $PageColor 20%, $BackgroundColor 80%);
                display: grid;
                grid-template-columns: 30% 1fr;
                grid-template-rows: 1fr;
                border-radius: 2em;
                transition: all 500ms;
                border: 2px solid white;

                .ColorsButton{

                    @include alignCenter();
                    transition: all 500ms;

                    svg{
                        width: 70%;
                        height: 70%;
                        fill: white;
                        filter: drop-shadow(0px 0px 5px white);
                        transition: fill 500ms, filter 500ms;
                    }

                    &:hover{
                        svg{
                            fill: $PageColor;
                            filter: drop-shadow(0px 0px 5px $PageColor);
                            transition: fill 500ms, filter 500ms;
                        }
                    }
                }

                .colors{
                    @include alignCenter();

                    input{
                        width: 80%;
                        height: 35%;
                    }
                }
                 
            }

        }
    }

    .WelcomeBox{
        width: 100%;
        height: 100%;
        z-index: 5;
        opacity: 1;
        background: linear-gradient(45deg, $PageColor 30%, $BGColor 70%);
        font-family: 'MuseoModerno', cursive;
        @include alignCenter();
        text-align: center;


        .WelcomeText{

            @include alignCenter();
            width: 50%;
            height: 70%;

            h1{
                font-size: 60px;
            }

            h2{
                display: inline;
                font-size: 30px;
            }

            #h2phrase{
                color:$PageColor;
            }
        }

        .ButtonsBox{
            width: 50%;
            height: 100px;
            @include alignCenter();
            flex-direction: row;

            button{
                font-family: 'MuseoModerno', cursive;
                background-color: $BGColor;
                padding: 20px 40px;
                font-size: 20px;
                font-weight: bolder;
                border-radius: 30px;
                color: white;
                transition: background-color 500ms, color 500ms;
                cursor: pointer;
                outline: none;
                
                &:hover{
                    background-color: black;
                    color: $PageColor;
                    transition: background-color 500ms, color 500ms;
                }
            }
        }

    }
}