
$PageColor: rgb(51, 162, 203);
$BackgroundColor: rgb(31, 28, 28);

@mixin alignCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes rotateBall{
    0%{
        transform: rotate(40deg);
    }
    100%{
        transform: rotate(400deg);
    }
}

.BuilderPage{

    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    
    .Stage1{
        z-index: 0;
        position: absolute;
        justify-content: center;
        @include alignCenter();
        width: 100%;
        height: 100%;
        
        h1{
            position: relative;
            font-size: clamp(30px, 4vw, 90px);
            font-family: 'MuseoModerno', cursive;
            padding: 0px 20px;
        }
    
        .Options{
            position: relative;
            width: 95%;
            height: 75%;
            display: flex;
            flex-wrap: wrap;
            border-radius: 0px;
            border: 0px solid white;
            overflow: scroll;
            background:transparent;

            .opt{
                position: relative;
                flex-basis: calc(calc(1200px - 100%) * 999);
                flex-shrink: 1;
                flex-grow: 1;
                min-height: 300px;
                border: 1px solid white;
                text-align: center;
                overflow: hidden;
                transition: transform 1s;
                border-radius: .5em;
                cursor: pointer;
                background: linear-gradient(to bottom, rgba(31, 28, 28, 0.44), rgba(51, 162, 203, 0.500) );

                .CardFront{
        
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    @include alignCenter();
                    justify-content: center;
                    transition: opacity 1s;
    
                    .numberBox{
                        position: absolute;
                        width: clamp(25px, 2vw, 100px);
                        height: clamp(25px, 2vw, 100px);
                        border-bottom: 1px solid white;
                        top: 20px;
                        left: 30px;
                        font-family: 'Press Start 2P', cursive;
    
                        p{
                            color: white;
                            font-size: clamp(10px, 1vw, 50px);
                        }
                    }
    
                    .imgContainer{
    
                        width: clamp(100px, 10vw, 200px);
                        height: clamp(100px, 10vw, 200px);
                        margin-top: 25px;

                        position: relative;
                        @include alignCenter();
                        border-radius: 50%;
                        border: 1px solid grey;
                        
                        img{
                            width: 65%;
                            height: 65%;
                        }
    
                        .ball{
                            position: absolute;
                            left: 50%;
                            width: 50%;
                            height: 5px;
                            background-color: transparent;
                            transform-origin: left;
    
                            animation: rotateBall 5s linear infinite;
                        }
    
                        .ball::before{
                            content: "";
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            background-color: white;
                            border-radius: 50%;
                            box-shadow: 0px 0px 10px white;
                            top: -2px;
                            right: -5px;
                        }
    
                    }
    
                    .imgContainer::before{
                        content: "";
                        position: absolute;
                        top: 0%;
                        // left: 0%;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        background-color: transparent;
                        border-top: 1px solid white;
                        border-right: 1px solid white;
                        border-left: 1px solid transparent;
                        border-bottom: 1px solid transparent;
                        animation: rotate 5s linear infinite;
                        // box-shadow-bo: 0px 0px 10px white;
                    }
    
                    .TitleBox{
                        position: relative;
                        margin-bottom: 25px;
                        width: 90%;
    
                        h2{
                            font-size: clamp(40px, 4vw, 150px);
                            padding: 20px 0px;
                            border-bottom: 0px solid $BackgroundColor;
                            transition: border-bottom 500ms;
                        }

                        .Merca{
                            font-size: clamp(20px, 2vw, 75px);
                        }

                        .Ventas{
                            font-size: clamp(30px, 3vw, 75px);
                        }
    
                        h4{
                            // padding: 0px 20%;
                            text-align: center;
                            font-family: 'Righteous', cursive;
                            font-size: clamp(15px, 1.3vw, 35px);
                            width: 100%;
                        }
                    }
                }

                .CardBack{

                    position: absolute;
                    width: 100%;
                    height: 100%;
                    @include alignCenter();
                    transition: opacity 500ms;
                    transform: rotateY(180deg);
                    
                    p{

                        position: relative;
                        font-family: 'Righteous', cursive;
                        font-size: clamp(15px, 1.5vw, 60px);
                        padding: 20px clamp(20px, 2vw, 50px);
                        text-align: justify;
                        
                    }

                    button{
                        padding: clamp(20px, 1.5vw, 40px);
                        border-radius: 3.125em;
                        box-shadow: 0px 0px 20px black;
                        transition: background-color 500ms, color 500ms;
                        font-family: 'Press Start 2P', cursive;
                        cursor: pointer;
                        font-size: clamp(13px, 1.2vw, 35px);

                        &:hover{
                            background-color: black;
                            color: white;
                            transition: background-color 500ms, color 500ms;
                        }
                    }
                }
            }


            .optFlipped{
                @extend .opt;
                transform: rotateY(180deg);
            }   
        }
    }

}
