$PageColor: rgb(51, 162, 203);
$BGColor: rgb(31, 28, 28);


@mixin alignCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}





.DataCenterPage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'MuseoModerno', cursive;
    overflow: hidden;
    

    .DataContainer{

        position: relative;
        width: 80%;
        height: 100vh;
        margin-left: auto;
        overflow-x: hidden;
        overflow-y: auto;
        scroll-behavior: smooth;

        .About, .Support {
    
            
            // overflow: hidden;
            ul{
                position: relative;
            }
    
            h1,h2,p{
                margin: 1em 20px;
            }
    
            li{
                width: 100%;
                height: 100vh;
                position: relative;
                @include alignCenter();
                justify-content: space-evenly;
            }
    
            h2{
                font-size: clamp(22px, 2vw, 50px);
                text-decoration: underline rgb(77, 228, 127);
                align-self: flex-start;
            }   
            p{
                font-size: clamp(12px, 1.3vw, 40px );
                text-align: justify;
                line-height: 2.5em;
                
            }
        }
    
        .About{
            position: relative;
            width: 100%;
            height: 300vh;
            z-index: 0;
            margin-left: auto;

            .TextBox{
                position: relative;
                width: 100%;
                height: 70%;
                overflow-y: auto;
            }
    
    
            .Content{
                @include alignCenter();
                flex-direction: column;
                justify-content: space-evenly;
                overflow: hidden;
                width: 100%;
                height: 80%;
    
                .TextBox{
                    position: relative;
                    width: 100%;
                    height: 70%;
                }
    
                .ImgBox{
    
                    position: relative;
                    width: 100%;
                    height: 30%;
                    overflow: hidden;
                    @include alignCenter();
                    justify-content: flex-start;
                
                    img{
    
                        position: absolute;
                        width: 80%;
                        height: 250%;
                    }
                }
    
            }

            #TandC{
                @include alignCenter();
                flex-direction: column;

                .TextBox{
                    @include alignCenter();
                    flex-direction: column;
                    width: 100%;
                    height: 50%;
                }   

                .ImageBox{
                    width: 100%;
                    height: 50%;
                    overflow: hidden;
                    @include alignCenter();

                    img{
                        height: 90%;
                        width: 60%;
                    }
                }
            }
        }
    
        .Support{
            position: relative;
            width: 100%;
            height: 300vh;
            // background-color: lightgreen;
            z-index: 0;
            margin-left: auto;
    
            li{
    
                form{
                    height: 60%;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
    
                    input,textarea{
                        border-radius: 10px;
                    }
    
                    .TopForm{
                        position: relative;
                        flex: 1 1 500px;
                        // height: 40%;
                        // width: 100%;
                        @include alignCenter();
                        flex-direction: column;

                        span{
                            @include alignCenter();
                            flex-direction: column;
                            justify-content: space-evenly;
                            width: 90%;
                            height: 40%;

                            position: relative;

                            input,label{
                                // margin: 0px .5em;
                                font-family: 'MuseoModerno', cursive;
                                font-size: clamp(13px, 2vw, 20px);
                            }

                            label{
                                color: $PageColor;
                            }
        
                            input{
                                color: black;
                                width: 80%;
                                padding: 2%;
                            }
        
        
                        }

    
                    }
    
                    .BottomForm{
                        position: relative;
                        flex: 1 1 500px;
                        // width: 100%;
                        // height: 60%;
                        @include alignCenter();
    
                        label, textarea{
                            font-family: 'MuseoModerno', cursive;
                            font-size: clamp(13px, 2vw, 20px);
                        }

                        .textAreaThingy{
                            @include alignCenter();
                            flex-direction: column;
                            justify-content: space-around;
                            // background-color: lightcoral;
                            width: 80%;
                            height: 50%;

                            textarea{
                                width: 80%;
                                height: 70%;
                                color: black;
                                padding: 2%;
                            }
    
                            label{
                                color: $PageColor;
                            }
                        }
    

                            
                        button{
    
                            color: black;
                            border-radius: 10px;
                            margin: 0px auto;
                            background-color: $PageColor;
                            cursor: pointer;
                            outline: none;
                            transition: background-color 500ms, color 500ms;
                            font-size: clamp(15px, 2vw, 20px);

    
                            &:hover{
                                
                                background-color: black;
                                color: $PageColor;
                                transition: background-color 500ms, color 500ms;
    
                                svg{
                                    fill: $PageColor;
                                    transition: fill 500ms;
                                }
                            }
    
                            svg{
                                height: 70%;
                                width: auto;
                                transition: fill 500ms;
                            }
                        }
                    }
                }

                .TextBox{
                    width: 50%;
                    height: 70%;
                    align-self: center;
                    justify-self: center;
                    overflow-y: auto;

                    p{
                        width: 90%;
                        height: 90%;
                    }
                }
    
                .Content{
                    width: 100%;
                    height: 85%;
                    overflow: hidden;
    
                    @include alignCenter();
                    flex-direction: row;
                    justify-content: space-evenly;
    
    
                    img{
                        width: 50%;
                        height: 65%;
                    }
                }
    
                .SU{
    
                    flex-direction: row-reverse;
                }
            }

            #ClientSupport{
                .TextBox{
                    width: 100%;
                    height: 30%;
                }
            }
        }
    }


    .SideBar{
        top: 0;
        left: 0;
        position: fixed;
        width: 20%;
        height: 100vh;
        background-color: black;
        z-index: 1;
        @include alignCenter();
        justify-content: space-around;

        .DataCenterBurguer{
            position: absolute;
            visibility: hidden;
            top: 0px;
            right: -50px;
            width: 50px;
            height: 50px;
            background-color: black;
            z-index: 5;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            cursor: pointer;

            div{
                position: relative;;
                width: 60%;
                background-color: $PageColor;
                height: 3px;
                border-radius: 1em;
                transition: transform 450ms;
            }
        }

        .LinkBox{
            width: 100%;
            height: 70%;
            z-index: 0;
            @include alignCenter();
            flex-direction: column;
            justify-content: space-evenly;


            h2{
                color: $PageColor;
                font-size: clamp(22px, 2vw, 50px);
                align-self: flex-start;
                margin: 0px 1em;
            }

            h2, ul{
                list-style: none;
            }

            ul{
                @include alignCenter();
                flex-direction: column;
                justify-content: space-around;
                width: 100%;
                height: 30%;
            }

            li{
                // margin: 1.8em 0.6em;
                cursor: pointer;
                position: relative;
                width: 100%;
                height: 20%;
                @include alignCenter();
                align-items: flex-start;

                a{
                    margin: 0px 1.5em;
                    text-decoration: none;
                    color: white;
                    transition: color 500ms, text-decoration 500ms;
                    font-size: clamp(10px, 1.1vw, 30px);

                    &:hover{
                        color: rgb(77, 228, 127);
                        text-decoration: underline;
                        transition: color 500ms, text-decoration 500ms;
                    }
                }
            }

        }
        .LogoBox{
            width: 100%;
            height: 30%;
            @include alignCenter();
            cursor: pointer;
            z-index: 0;

            svg{
                width: 100%;
                height: 100%;
            }
        }
    }
}