@media (min-width: 2000px){
    .HomePage{

        .NavBar{
            height: 150px;
        }

        .HomeContainer{
    
            .HomeInit{
                .LeftBoxHome{
    
                    .Arrow{
                        width: 50px;
                        height: 50px;
                    }
                }
                .RightBoxHome{
                    .SiteAnimationBox{
                        transform: scale(2);
    
                        .InitBox .PhoneContainer{
                            .SiteContainer{
                                Canvas{
                                    transform: scale(.6);
                                    position: absolute;
                                    left: -150px;
                                    top: -200px;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
    
            .Block1{
                height: 100vh;
    
                .Phrase{
                    font-size: 55px;
                }
                .WhyBox{
                    .Title{
                        h1{
                            font-size: 80px;
                        }
                    }
    
                    .Reasons{
                        div{
                            min-width: 500px;
                        }
                    }
                }
            }
    
            .Block2{
                height: 100vh;
    
                .LeftBoxB2{
                    border-top-right-radius: 300px;
                    border-bottom-right-radius: 300px;
    
                    h1{
                        font-size: 70px;
                    }
    
                    .AnimBoxB2{
                        h4{
                            font-size: 60px;
                        }
                    }
    
                    .TextAnimBox{
                        h2{
                            font-size: 45px;
                        }
                        svg{
                            width: 300px;
                            height: 300px;
                        }
                    }
                }
                
                .RightBoxB2{
    
                    border-top-left-radius: 300px;
                    border-bottom-left-radius: 300px;
    
                    .TextBox{
                        h1{
                            font-size: 100px;
                        }
                        h2{
                            font-size: 130px;
                        }
                    }
                }
            }
    
            .Block3{
                .B3Title{
                    h1{
                        font-size: 80px;
                    }
                }
                .Instructions{
                    
                    .B3AnimSection{
    
                        .B3AnimationBox{
    
                            // .Screen, .keyboard, .RandomRectangle{
                            transform: scale(1.7);
                            // }
    
                        }
    
                        // .CreateButtonBox{
                        //     .CreateButton{
                        //         font-size: 45px;
                        //         padding: 60px;
                        //     }
                        // }
                    }
                }
            }
    
            .Footer{
    
                .ContactUsTitle{
                    h1{
                        font-size: 50px;
                        margin-left: 100px;
                    }
                }
    
                .MediaBar{
                    span{
                        width: 200px;
                        height: 200px;
                        border: 10px solid rgb(31, 28, 28);
                    }
                }
    
                .Right{
                    h2{
                        font-size: 50px;
                    }
                }
    
                .Questioner{
                    .BoxyBox{
                        width: 80%;
                    }
                }
            }

        }
    }

    .RootPage .RootBox{

        .BuilderBox .ColorsBox{
            width: 30em;
            height: 15em;
        }

        .BuilderBox .Display .PageStylesSection{
            .MainSection{
                .Page{
                    grid-template-rows: 150px 1fr;

                    .PageStyle{
                        nav{

                            height: 120px;

                            .LogoBox{
                                width: 90px;
                                height: 90px;

                                margin-left: 4em;
                                // margin-top: 4em;

                                h3{
                                    display: none;
                                }

                                .Logo{
                                    width: 500px;
                                    height: 100px;
                                }
                            }

                            .BurgerBox{

                                // margin-right: 4em;
                                // margin-top: 4em;
                                width: 100px;
                                height: 100px;
                            }
                        }
                    }

                    .Glassmorphic{
                        .LeftBox{

                            .ImageBox{
                                .TechChip{
                                    width: 400px;
                                    height: 400px;
                                }
                                .TechChip2{
                                    width: 60%;
                                    height: 150px;
                                }
                            }

                            .ImageBox::before{
                                width: 450px;
                                height: 450px;
                            }
                            .ImageBox::after{
                                width: 400px;
                                height: 400px;
                            }

                            .ContactsBox::before{
                                width: 350px;
                                height: 350px;
                            }
                        }

                    }

                    .Parallax{
                        nav{
                            height: 100px;
                        }
                    }

                    .Neumorphic{
                        .LeftBox{
                            .BoxesBox{
                                width: 220px;
                            }

                            .Foto{
                                width: 350px;
                                height: 350px;
                            }

                            .ContactsBox{
                                span{
                                    width: 75px;
                                    height: 75px;
                                }
                            }
                        }
                    }

                }
            }
        }

    }

    .BuilderFinalPage{
        .Step2Style{
            .RightBoxS2Final{

                overflow: hidden;

                .Layout .InnerTagsBox{
                    
                    .AlignVertically{
                        height: 40%;
                    }
                    .AlignHorizontally{
                        height: 500px;
                    }

                    // .AlignHorizontally{
                    //     height: 50%;
                    // }
                }
            }
        }
    }
}