// Pages
@import "./HomeStyle";
@import "./BuilderStyle";
@import "./BuilderRootS";
@import "./MobileOpt";
@import "./MonitorOpt";


* {
    padding: 0px;
    margin: 0px;
    // font-family: 'Dancing Script', cursive;
    // font-family: 'Julius Sans One', sans-serif;
    // font-family: 'Monoton', cursive;
    // font-family: 'Righteous', cursive;
    // font-family: 'Courgette', cursive;
    // font-family: 'MuseoModerno', cursive;

}

body{
    background-color: rgb(31, 28, 28);
}

.App{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(31, 28, 28);
    color: white;
    overflow: hidden;
}